
#destacados .contenedor{
    border: 3px solid #093777;;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
	background-color: #235499;
}

.titulo{
    width: 90%;
     letter-spacing: 0.10em;
     margin-top: 2em;
     background: #1e1b59;
	  font-weight: 700;
      font-size: 35px;
      padding: 5px 10px;
      border-color: rgba(0,0,0,.8);
      color: #FFF;
       box-shadow: #0009 5px 7px 10px;
       border-radius: 21px;
}


.card{
    grid-template-rows: 1fr 2fr 2fr 2fr; 
    width: 90%; 
    background-color: #FFF; 
    justify-content: center;
     align-items: center;
    max-width: 350px;
    margin: 25px 25px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    
}
.card-h4{
    grid-row: 1/2;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 10px;
}
.card-img{
    height: 200px; 
    width: 200px;
    border: solid 2px #000;
    border-radius: 10px;
    display: block;
   margin: auto;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.card-text{
    grid-row: 3/4; 
    width: 90%;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
}
.card-button-cont{
    grid-row: 4/5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom: 0;
}
.card-qr{
    height: 150px;
    width: 150px;
}

